/* {
    border: 1px solid black;
}*/
body {
    background-color: white;
    font: 400 15px 'Ubuntu', sans-serif;
    line-height: 1.8;
    color: #151515;
}

.header {
    min-height: 20vh;
}

.content {
    min-height: 67vh;
}

.footer {
    min-height: 10vh;
    background-color: #1ca0f1;
}

.jumbotron, footer {
    background-color: #1ca0f1;
    color: #ffffff;
}

footer {
    font-size: small;
    padding-top: 16px;
    padding-bottom: 16px;
    text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

a:link, a:visited, a:active {
    color: inherit;
}

a:hover {
    color: #444444;
}

.card:hover {
    box-shadow: 3px 3px 6px #606060;
}

.card, .card:hover {
    transition: box-shadow 0.25s ease-out;
}
